.wrap {
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
}

.header {
    float: left;
    width: 90%;
    height: 140px;
    border-bottom: 1px solid #dcdcdc;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header .header_header {
    text-align: right;
}

.header .header_header:hover {
    cursor: pointer;
}

.header .header_contents {
    width: 300px;
    text-align: left;
    padding-top: 5px;
    font-size: 14px;
}

.contents {
    float: left;
    width: 90%;
    height: 135px;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contents .contents_header {
    width: 30%;
    background-color: #27AE60;
    color: #ffffff;
    text-align: left;
}

.contents .contents_contents {
    text-align: left;
    font-size: 14px;
}

.article {
    float: left;
    width: 90%;
    height: 170px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.article .article_header {
    text-align: left;
}

.article .article_contents {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.footer {
    float: left;
    margin-left: 220px;
}

.footer > div {
    width: 60px;
    cursor: pointer;
    background-color: #27AE60;
    border: none;
    color: #ffffff;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
}